body {
    background-image: url(../images/background.jpg);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#header {
    font-weight: bolder;
}

.container {
    width: 900px;
    max-width: 90%;
    background: rgb(156, 234, 236);
    text-align: center;
    opacity: 0.9;
    border: 2px solid darkolivegreen;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
}

h1 { 
    margin: 20px 0 0 0;
    padding: 20px 0 20px 0;
}

.start {
    margin: 50px 0 50px 0;
}
h2 {
    margin: 0 0 40px 0;
}

input[type="submit"] {
    background-color: darkred;
    color: white;
    margin: 50px 0 20px 0;
    width: 200px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
}

input[type="radio"] {
    margin: 0 5px 0 0;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

#form {
    margin: 30px 0 20px 0;
}

p {
    font-size: 21px;
    font-weight: bold;
    margin-top: 30px;
    color:darkred;
}

#reset {
    margin: 0 0 30px 0;
    font-weight: bolder;
    background-color: darkgreen;
    box-shadow: 0 0 10px 2px;
}